20486/Jan2015/MvcDemo/ConsoleApplication1/Service References/ProxyClientManagement/ClientManagementServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientManagementServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10585/ClientManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10585/ClientManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10585/ClientManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MvcDemo.Model.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientManagementService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByGuid" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByEmail" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_FindByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientManagementService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/Add" message="tns:IClientManagementService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/AddResponse" message="tns:IClientManagementService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/Update" message="tns:IClientManagementService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/UpdateResponse" message="tns:IClientManagementService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/Delete" message="tns:IClientManagementService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/DeleteResponse" message="tns:IClientManagementService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindAll" message="tns:IClientManagementService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindAllResponse" message="tns:IClientManagementService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindByGuid" message="tns:IClientManagementService_FindByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindByGuidResponse" message="tns:IClientManagementService_FindByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindById" message="tns:IClientManagementService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindByIdResponse" message="tns:IClientManagementService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/FindByEmail" message="tns:IClientManagementService_FindByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/FindByEmailResponse" message="tns:IClientManagementService_FindByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientManagementService" type="tns:IClientManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByGuid">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/ICrudCommonServiceOf_Cliente/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByEmail">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/FindByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientManagementServiceImpl">
    <wsdl:port name="BasicHttpBinding_IClientManagementService" binding="tns:BasicHttpBinding_IClientManagementService">
      <soap:address location="http://localhost:10585/ClientManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>